<div style="text-align: center">
  <h1>Camera snapshot demo</h1>

  <div *ngIf="cameraToggle">
    <h2>Camera view</h2>
    <webcam
      [height]="800"
      [width]="400"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="toggleWebcam"
      [videoOptions]="videoOptions"
      [allowCameraSwitch]="false"
      [imageQuality]="1"
      (initError)="handleInitError($event)"
    ></webcam>
    <br>
    <button (click)="triggerSnapshot()">Take a Snapshot</button>
    <!-- <button (click)="toggleWebcam()">Toggle Webcam</button> -->
  </div>

  <hr>

  <div *ngIf="webcamImage">
    <h2>Snapshot view</h2>
    <img [src]="webcamImage.imageAsDataUrl">
    <input
      type="text"
      [(ngModel)]="patientId"
      placeholder="Enter PatientId, eg: AA0000"
    >
    <button
      [disabled]="!patientId"
      (click)="postImage()"
    >Send image</button>
    <button (click)="tryAgain()">Again?</button>
  </div>

</div>

<!-- Messages -->

<h4 *ngIf="errors.length > 0">Camera error messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{ error | json }}</li>
</ul>

<h4 *ngIf="postSuccess">Post Success!</h4>
<h4 *ngIf="postError">Post error!</h4>