<h3>Camera Snapshot Demo</h3>
<!-- <button (click)="toggleWebcam()">Toggle Webcam</button> -->

<!-- Camera View -->

<div>
  <input
    type="text"
    [(ngModel)]="doctorName"
  >
</div>

<div *ngIf="cameraToggle">
  <h4>Camera view</h4>
  <!-- <h4>Camera view {{ windowWidth }} : {{ windowHeight }}</h4> -->
  <webcam
    [height]="525"
    [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)"
    *ngIf="toggleWebcam"
    [videoOptions]="videoOptions"
    [allowCameraSwitch]="true"
    [imageQuality]="1"
    (initError)="handleInitError($event)"
  ></webcam>
  <br>
  <button (click)="triggerSnapshot()">Take a Snapshot</button>
</div>


<!-- Screenshot view -->
<div *ngIf="webcamImage">
  <h4>Snapshot view</h4>
  <img [src]="webcamImage.imageAsDataUrl">
  <div class="container-1">
    <button
    (click)="postImage()"
  >Send image</button>
  <button (click)="downloadImage()">Download Image</button>
  <button (click)="tryAgain()">Again?</button>
  </div>
</div>

<hr>

<!-- Messages -->

<h4 *ngIf="errors.length > 0">Camera error messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{ error | json }}</li>
</ul>

<h4 *ngIf="postSuccess">Post Success!</h4>
<h4 *ngIf="postError">Post error!</h4>